* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.delivery {
    text-align: center;
    background-color: rgba(109, 6, 6, 0.3);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.3);
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    height: 100px;
    background: url("./footer.webp"); 
} 
nav li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }
  nav li span {
      padding-left: 5px;
  }
  li a {
      padding: 5px;
      background-color: #fff;
      text-decoration: none;
  }
  .cart ion-icon {
      vertical-align: bottom;
      font-size: 20px;
      padding-right: 5px;
  }
  .cart a {
        background-color: brown;
        color: wheat;
        cursor: pointer;
        text-decoration: none;
  } 
  .container {
    background-image: url("./zoom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0%;
    font-size: large;
    color: white;
}
.img {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    }


h1 {
    color: brown;
    text-align: center;
}
h2 {
    color: thistle;
    font-size: x-large;
}
body {
    background-color: wheat;
    margin: 5%;
    margin-top: 0%;

}

.container>img {
    width: 100%;
}
header {
    display: inline-flex;
}
#About {
    background: url("./big.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-size: xx-large;
    border: solid green;
    text-align: center;
}
  .container,
  
  .products-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 50px;
      scroll-padding-bottom: 100px;
      text-align: center;
  } 
  .order-now {
      position: absolute;
      width: 100%;
      background-color: blanchedalmond;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      cursor: pointer;
      text-align: center;
      text-overflow: clip;
      text-shadow: teal;
  }
  .img:hover .order1,
  .img:hover .order2,
  .img:hover .order3,
  .img:hover .order4,
  .img:hover .order5,
  .img:hover .order6,
  .img:hover .order7,
  .img:hover .order8,
  .img:hover .order9 {
      bottom: 50px;
      opacity: 1;
      padding: 10px;
      text-decoration: none;
  }
  #welcome {
      background-color: rgb(26, 1, 1);
      text-align: center;
      font-size: xx-large;
      border-radius: 30%;
      color: wheat;
  }
  .footer {
      color: white;
      font-size: x-large;
      background: url("./big.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: end;
  }
  .product {
    background-color: rgba(10, 10, 10, 0.3);
    text-align: center;
    font-size: large;
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
  }
  .products-container  {
    background-color: rgba(10, 10, 10, 0.3);
    text-align: center;
    font-size: large;
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
  }
  .products-container ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  } 
  .product-header {
      width: 100%;
      max-width: 650px;
      display: flex;
      justify-content: flex-start;
      border-bottom: 4px solid gold brown;
      margin: 0 auto;
  }
  .product-title {
      width: 45%;
  }
  .price {
    width: 15%;
    border-bottom: 1px solid brown;
    display: flex;
    align-items: center;
  }
  .quantity {
      width: 30%;
      border-bottom: 1px solid brown;
      display: flex;
      align-items: center;
  }
  .total {
    width: 10%;
    border-bottom: 1px solid brown;
    display: flex;
    align-items: center;
  }
  .product {
      width: 45%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0;
      border-bottom: 4px solid brown;
  }
  .basketTotalContainer {
      display: flex;
      justify-content: flex-end;
      width: 100px;
      padding: 10px 0;
  }
  .basketTotalTitle {
      width: 30%;
  }
  .basketTotal {
      width: 10px;
  }
  .order-box {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("./zoom1.jpg");
      z-index: 99999;
      transition: 0.2s linear;
      transform: scale(0);
  }
  .order-box.active {
      transform: scale(2);
  }
 .order .order-box  {
      position: relative;
      height: 70%;
      width: 80%;
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
  }



  i {
      color: yellow;
  }
/* 
trials */
/* Responsiveness */
@media screen and (max-width: 800px) 
{

  .header .centered h1
  { 
    font-size: 15px;
  }
 .header .centered p
{ 
  font-size: 11px;
}
  .header .centered img
  {
    width: 59px;
  }


  .about_us h3
  {
    font-size: 15px;
  }
  .about_us p
  {
    font-size: 13px;
  }
  .services .centered_services
  {
      position: absolute;
      top: 50%;
  }
  .services .centered_services h3
  {
    font-size: 12px;
  }
  .services .centered_services p
  {
    font-size: 9px;
  
  }

  .images 
{
  padding: 5px;
  border-radius: 5px;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.contact_us h3
{
  font-size: 15px;
  padding-bottom: 15px;
}
.contact_us .form-control
{
  height:20%;
  font-size: 12px;
}

.contact_us .contact textarea
{
    height: 100px;
}

.contact_us .contact
{
    width: 80%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.contact_us .contact #form_input .form-control
{
  font-size: 12px;
  height: 20px;
}

.contact_us .contact #form_textarea textarea
{
    margin: 15px auto;
    height: 100px;
}




}

@media screen and (max-width: 530px) 
{
  .img
  {
    width: 90%;
  }
  .contact_us h3
  {
    font-size: 15px;
    padding-bottom: 0px;
  }
  .contact_us .contact
{
    width: 60%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.contact_us .form-control
{
  margin-top: 3px;
  height:20%;
  font-size: 12px;
}

.contact_us .contact
{
    width: 80%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.contact_us .contact #form_input .form-control
{
  font-size: 10px;
  height: 10px;
}

.contact_us  #form_textarea textarea
{
    padding:0px;
    margin: 2px auto;
    height: 50px;
}
 
}
.orderBox{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	transition: 0.3s linear;
	transform: scale(0);
}
.orderBox.active{
	transform: scale(1);
}
.orderBox .order{
	position: relative;
	height: 70%;
	width: 80%;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.orderBox .order span{
	position: absolute;
	right: 0;
	top: 0;
	background:#f00;
	padding:10px 15px;
	color: #fff;
	cursor: pointer;
}
.orderBox .order span:hover{
	background: #ff0000a5;
}
.orderBox .order h1{
	position: relative;
	margin-top: 2%;
	font-size: 2.8rem;
	color: #017bf5;
}
.products-container{
    padding-top: 100px;
}
.overlay {
    background-color:  rgb(26, 1, 1);;
}